@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned(" stylesheets/main.css")"> <link
        rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(" images/favicon.png")"> <link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background-color: black;">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="cursor: pointer;"
            onclick="location.href='@controllers.routes.HomeController.index'">
            Logo </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="cursor: pointer;"
                    onclick="location.href='@activityController.routes.ActivityController.index'">
                    <a class="nav-link"> Activities </a>
                </li>
            </ul>
            <div class="navbar-nav my-2 my-lg-0">
                <li class="nav-item" style="cursor: pointer">
                    <a class="nav-link" onclick="location.href='@blogController.routes.BlogController.index'"> Blog </a>
                </li>


                <li class="nav-item" style="cursor: pointer">
                    <a class="nav-link" onclick="location.href='@contactController.routes.ContactController.index'">
                        Contact Us </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="cursor: pointer;"
                            onclick="location.href='@authController.routes.AuthController.signin'">
                            Login </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="cursor: pointer;"
                            onclick="location.href='@authController.routes.AuthController.signup'">
                            Create Account </a>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <!-- APP Content -->

    @content


    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3" style="background-color: grey; color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> Facebook </i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> Twitter </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> Instagram </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="@routes.Assets.versioned(" javascripts/main.js")" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>